<%= form_with(model: comment, class: 'my-4') do |form| %>
  <% if comment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_field :content, class: "form-control input-transparent" %>
  </div>

  <% if current_user.role == "admin" %>
    <div class="mb-3">
      <%= form.label :status, class: "form-check-label" %>
      <%= form.check_box :status, class: "form-check-input" %>
    </div>
  <% end %>

  <div>
    <%= form.submit class: "btn btn-secondary mt-2" %>
  </div>
<% end %>
<style>
  .input-transparent {
  background: #0b1416;
  border-width: 0;
  color: white;
  }

  .input-transparent:focus {
  background: #0b1416;
  border-width: 0;
  color: white;
  }

  .input-transparent::placeholder {
    color: white;
  }
</style>