<div id="<%= dom_id post %>" class="post-container">
  <p>
    <strong class="post-title">
      <%= post.title %>
    </strong>
  </p>
  <hr>
  <p>
    <%= post.body %>
  </p>

  <% if post.image.attached? %>
  <p>
    <%= image_tag post.image, class: "post-image" %>
  </p>
<% end %>

  <% if current_user && current_user.role == "admin" %>
    <p>
      <strong>Status:</strong>
      <%= post.status %>
    </p>
  <% end %>
</div>
