<div class="container mt-4">
  <div class="custom-card mb-3">
    <h1 class="mb-4 text-white">Posts</h1>
    <div id="posts">
      <% @posts.where(status: true).each do |post| %>
        <div class="custom-card mb-3">
          <%= link_to post, class: "text-decoration-none text-dark" do %>
            <div class="custom-card-body bg-color-2 text-white">
              <p class="post-info">
                <strong><%= post.user.username if post.user %></strong> • <%= time_ago_in_words(post.created_at) %> ago
                <% if post.category %>
                  • <span class="post-category" style="color: #168fff;"><%= post.category.title %></span>
                <% end %>
              </p>
              <%= render post %>
            </div>
          <% end %>
          <div class="custom-card-footer d-flex justify-content-between align-items-center bg-color-2">
            <%= link_to post, class: "btn btn-primary mr-2 rounded-pill" do %>
              <span class="fas fa-comment"></span> <%= post.comments.count %>
            <% end %>
            <%= button_to({ controller: 'likes', action: 'create', post_id: post.id }, method: :post, class: "btn btn-primary mr-2 rounded-pill") do %>
              <span class="fas fa-arrow-up"></span> <%= post.likes.count %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<style>
  .post-category {
    font-weight: bold;
  }
</style>
