<div class="container mt-4">
  <div class="custom-card mb-3">
    <div class="custom-card-body bg-color-2 text-white">
      <p class="post-info">
        <strong><%= link_to @post.user.username, profile_path(@post.user), class: "custom-link" if @post.user %></strong> • <%= time_ago_in_words(@post.created_at) %> ago
        <% if @post.category %>
          • <span class="post-category" style="color: #168fff;"><%= @post.category.title %></span>
        <% end %>
      </p>
      <div id="post-container">
        <%= render @post %>
      </div>
      <div id="edit-post-form-container" style="display: none;">
        <%= render 'posts/form_edit', post: @post %>
      </div>
      <div class="mt-3 d-flex justify-content-between">
        <% if current_user.id == @post.user_id || current_user.role == "admin" %>
          <%= link_to "Edit", "javascript:void(0);", class: "btn btn-dark mr-2", id: "edit-post-button" %>
          <%= button_to "Destroy post", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const editButton = document.getElementById("edit-post-button");
    const editFormContainer = document.getElementById("edit-post-form-container");
    const postContainer = document.getElementById("post-container");

    if (editButton && editFormContainer && postContainer) {
      editButton.addEventListener("click", function () {
        editFormContainer.style.display = "block";
        postContainer.style.display = "none";
        editButton.style.display = "none";
      });
    }
  });
</script>
<style>
  .post-category {
    font-weight: bold;
  }
</style>
