<div class="container mt-4">

  <div class="custom-card mb-3">
    <div class="custom-card-body bg-color-2 text-white">
      <p class="post-info"><strong><%= @post.user.username if @post.user %></strong> • <%= time_ago_in_words(@post.created_at) %> ago</p>
      <%= render @post %>

      <div class="mt-3">
        <% if current_user.id == @post.user_id %>
          <div class="btn-group" role="group">
            <%= link_to "Edit", edit_post_path(@post), class: "btn btn-dark mr-2" %>
            <%= button_to "Destroy post", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
