<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-evenly">
  <div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if current_user.present? %>
        <%= "Username:  #{current_user.username}" %> <br>
        <%= "Email:  #{current_user.email}" %>
      <% end %>
      <%= link_to "PontoCivico", root_path, class: "navbar-brand font-weight-bold" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Post", new_post_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
  <div style="width: 30%;">
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="search-addon">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <% if current_user %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary rounded-pill" %>
    <% else %>
      <%= button_to "Sign In", new_user_session_path, class: "btn btn-primary rounded-pill" %>
    <% end %>
  </div>
</nav>
