<nav class="navbar navbar-expand-lg navbar-light justify-content-evenly bg-color-2">
  <div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <%= link_to "PontoCivico", root_path, class: "navbar-brand font-weight-bold text-white" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to new_post_path, class: "text-white btn btn-outline-secondary rounded-pill" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div style="width: 30%;">
    <form class="form-inline" action="<%= search_posts_path %>" method="get">
      <div class="input-group">
        <input type="text" class="form-control rounded rounded-pill text-color" style="background-color: #0b1416; border: 0; color: white; placeholder:white;" placeholder="Pesquisar" aria-label="Search" aria-describedby="search-addon" name="search_term">
        <div class="input-group-append mx-2">
          <button class="btn btn-outline-secondary rounded-pill" type="submit" id="search-addon">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex">
    <% if current_user %>
      <%= link_to notifications_path(current_user), class: "btn btn-primary rounded-pill mr-2" do %>
      <i class="fas fa-bell"></i>
      <% end %>
      <%= link_to profile_path(current_user), class: "btn btn-primary rounded-pill mr-2" do %>
      <i class="fas fa-user"></i> Perfil
      <% end %>
      <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-primary rounded-pill" %>
    <% else %>
      <%= button_to "Entrar", new_user_session_path, class: "btn btn-primary rounded-pill" %>
    <% end %>
  </div>
</nav>
<style>
  .text-color::placeholder {
      color: white;
    }
</style>
